<app-navbar></app-navbar>


<body>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Products</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addProductModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>
						<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>	
                        					
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						</th>
                        
                       
						
						<th>FirstName</th>
						<th>LastName</th>
                        <th>age</th>
                        <th>phoneNumber</th>
                        <th>adresseMail </th>
                        <th> </th>
				</thead>
				<tbody>
					<tr *ngFor="let item of list">  
						<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
						</td>
					
                            <td> {{item.payload.doc.data().FirstName}}</td>    
                            <td>{{item.payload.doc.data().LastName}}</td>
                            <td>{{item.payload.doc.data().age}}</td>
                            <td>{{item.payload.doc.data().phoneNumber}}</td>
                            <td>{{item.payload.doc.data().adresseMail}}</td>


                            
                            <td>
                    
							<a href="#editProductModal" (click)="getId(item.payload.doc.id)"   class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href ="#" (click)="supprime(item)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
					
				</tbody>
			</table>

		</div>
	</div>        
</div>

<!-- Edit Modal HTML -->
<div id="addProductModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form #myform="ngForm" >
				<div class="modal-header">						
					<h4 class="modal-title">Add Product</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>FirstName</label>
                        <input type="text" required [(ngModel)]="livreur.FirstName" name="FirstName" #FirstName="ngModel"  class="form-control" placeholder="">
					</div>
                    <div class="form-group">
						<label>LastName</label>
                        <input type="text" required [(ngModel)]="livreur.LastName" name="LastName" class="form-control"  #LastName="ngModel"  placeholder="">
					</div>
				
					<div class="form-group">
						<label>Age  </label>
						<input type="text" required  [(ngModel)]="livreur.age" name="Age" class="form-control" pattern="\d+" minlength="1"  maxlength="2" #Age="ngModel"  placeholder="">
					</div>
                    <div class="form-group">
						<label>phoneNumber</label>
						<input type="text" required  [(ngModel)]="livreur.phoneNumber" name="phoneNumber" pattern="\d+" minlength="8" maxlength="8" class="form-control" #phoneNumber="ngModel"     placeholder="">
					</div>
                    	
                    <div class="form-group">
						<label>adresseMail</label>
						<input type="email" required [(ngModel)]="livreur.adresseMail" name="adresseMail"  pattern="[^@\s]+@[^@\s]+\.[^@\s]+"   #adresseMail="ngModel" class="form-control"placeholder="">
					</div>		
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" (click) ="onReset()" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success"  [disabled]="! myform.form.valid" (click)="onSubmit()" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editProductModal" class="modal fade" >
	<div class="modal-dialog">
		<div class="modal-content">
			<form #updateForm="ngForm" >
				<div class="modal-header">						
					<h4 class="modal-title">Edit </h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
                <div class="modal-body">					
					<div class="form-group">
						<label>FirstName</label>
                        <input type="text"  [(ngModel)]="livreur.FirstNameE" name="id" class="form-control" placeholder="">
					</div>
                    <div class="form-group">
						<label>LastName</label>
                        <input type="text"  [(ngModel)]="livreur.LastNameE" name="id" class="form-control" placeholder="">
					</div>
				
					<div class="form-group">
						<label>Age  </label>
						<input type="text"   [(ngModel)]="livreur.ageE" name="Age" class="form-control" pattern="\d+" minlength="1"  maxlength="2" #Age="ngModel"  placeholder="">
					</div>
                    <div class="form-group">
						<label>phoneNumber</label>
						<input type="text" [(ngModel)]="livreur.phoneNumberE" name="phoneNumber" pattern="\d+" minlength="8" maxlength="8" class="form-control" #phoneNumber="ngModel"     placeholder="">
					</div>
                    	
					<div class="form-group">
						<label>adresseMail</label>
						<input type="email"  [(ngModel)]="livreur.adresseMailE" name="adresseMail"  pattern="[^@\s]+@[^@\s]+\.[^@\s]+"   #adresseMail="ngModel" class="form-control"placeholder="">
					</div>	
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="button"   [disabled]="! updateForm.form.valid" (click)="Updatarecord(livreur)"  class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteProductModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit"   class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>

</body>
