<app-navbar></app-navbar>
<header class="masthead  text-white text-center" style="background-color:rgb(253, 126, 20);">
    <div class="container d-flex align-items-center flex-column" style="background-color:rgb(253, 126, 20);">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/logoo.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Eat Me</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
            <br> 
            <br>
            <br> 
            
        </div>
       
        <!-- Masthead Subheading-->
    
    </div>
</header>